[submodule "src/image_pipeline"]
	path = src/image_pipeline
	url = https://github.com/ros-perception/image_pipeline
[submodule "src/usb_cam"]
	path = src/usb_cam
	url = https://github.com/ros-drivers/usb_cam
[submodule "src/camera_info_manager_py"]
	path = src/camera_info_manager_py
	url = https://github.com/mllofriu/camera_info_manager_py
