[submodule "src/image_pipeline"]
	path = src/image_pipeline
	url = https://github.com/ros-perception/image_pipeline
[submodule "src/usb_cam"]
	path = src/usb_cam
	url = https://github.com/ros-drivers/usb_cam
[submodule "src/vision_msgs"]
	path = src/vision_msgs
	url = https://github.com/ros-perception/vision_msgs


