build/
devel/
logs/
**/*.bag
.catkin_tools/
src/camera_info_manager_py
disp_live/src/gui/__pycache__/_backend_.cpython-38.pyc
.catkin_tools/profiles/default/devel_collisions.txt
.catkin_tools/profiles/default/packages/camera_info_manager_py/devel_manifest.txt
