<launch>
    <!-- Node to run my_cam.py -->

    <arg name="cam" default="sony_1" />
    <arg name="calib_file" value="sony0" />

    <node   name="$(arg cam)"
            pkg="my_aruco"
            type="sony_cam.py"
            output="log">
        <param name="camera_manager" value="$(arg cam)"/>
        <param name="calibration_file" value="$(find my_aruco)/config/camera_info_$(arg cam).yaml"/>
    </node>
<!-- 
    <node   name="$(arg cam)_detect"
            pkg="my_aruco"
            type="sony_detect.py"
            output="screen">
    </node> -->
</launch>
