<launch>
  <node 
    pkg="rosbag"
    type="record"
    name="camera1_bag"
    output="screen"
    args="--duration=3 --output-name=/home/agcam/catkin_ws/src/bagfiles/cams.bag /camera_1/camera_info /camera_1/image_raw
                                                                                 /camera_2/camera_info /camera_2/image_raw
                                                                                 /camera_3/camera_info /camera_3/image_raw"/>
</launch>
