<launch>
  <arg name="cam" default="camera_1" />
  <arg name="size" default="6x5" />
  <arg name="square" default="0.025" />

  <node pkg="camera_calibration"
        name="$(arg cam)_calibration"
        type="cameracalibrator.py"
        output="screen">
    <param name="size" value="$(arg size)" />
    <param name="square" value="$(arg square)" />
    <param name="k-coefficients" value="2"/>
    <param name="fix-principal-point" value="i"/>
    <param name="fix-aspect-ratio" value="true"/>
    <remap from="image" to="/$(arg cam)/image_raw"/>
    <remap from="camera" to="/$(arg cam)"/>
  </node>
</launch>
