[Desktop Entry]
Name=Main
Comment=Main program


Exec=gnome-terminal -- /bin/bash -c "source /opt/ros/noetic/setup.bash && source /home/agcam/ros_ws/devel/setup.bash && cd /home/agcam/ros_ws/bashfiles && python3 main.py; exec /bin/bash"



Icon=/home/agcam/ros_ws/bashfiles/main.png
Terminal=true
Type=Application
Categories=Utility;Application;
