[Desktop Entry]
Name=Ros
Comment=Ros program


Exec=gnome-terminal -- /bin/bash -c "source /opt/ros/noetic/setup.bash && roscore; exec /bin/bash"



Icon=/home/agcam/ros_ws/bashfiles/ros.png
Terminal=true
Type=Application
Categories=Utility;Application;

