<?xml version="1.0"?>
<launch>
    <machine 
        name="huskyPC"
        address="192.168.0.213"
        env-loader="/opt/ros/noetic/env_huskyPC.sh"
        default = "true"
        user="husky" password="0000"
    />
    <node
        machine="huskyPC"
        pkg="python_ex"
        name="NUC_Node"
        type="sine_publisher.py"
    />

</launch>


