<launch>

    <arg name="launch_nuc" default="nuc2" />

    <group if = "$(eval launch_nuc == 'nuc1')">
        <include file="$(find fast_cam)/launch/fc.launch">
            <arg name="camera_name" value="$(arg launch_nuc)" />
            <arg name="device_id" value="0" />
            <arg name="device_ip" value="192.168.1.101" />
            <arg name="calib_file" value="$(arg launch_nuc)" />
        </include>
    </group>

    <group if = "$(eval launch_nuc == 'nuc2')">
        <include file="$(find fast_cam)/launch/fc.launch">
            <arg name="camera_name" value="$(arg launch_nuc)" />
            <arg name="device_id" value="1" />
            <arg name="device_ip" value="192.168.1.102" />
            <arg name="calib_file" value="$(arg launch_nuc)" />
        </include>
    </group>

    <group if = "$(eval launch_nuc == 'nuc3')">
        <include file="$(find fast_cam)/launch/fc.launch">
            <arg name="camera_name" value="$(arg launch_nuc)" />
            <arg name="device_id" value="2" />
            <arg name="device_ip" value="192.168.1.103" />
            <arg name="calib_file" value="$(arg launch_nuc)" />
        </include>
    </group>
</launch>

