<!-- Run the aruco_detect node -->
<launch>
  <arg name="aruco_marker_size" default="0.05"/>   <!-- Marker Size in meters -->
  <group ns="camera_3_aruco_detect">
    <include file="$(find aruco_detect)/launch/aruco_detect.launch">
      <arg name="camera" value="/camera_3"/>
      <arg name="image" value="image"/>
      <arg name="transport" value="raw"/>
      <arg name="fiducial_len" value="$(arg aruco_marker_size)"/>
      <arg name="dictionary" value="1"/>
      <arg name="do_pose_estimation" value="true"/>
      <arg name="vis_msgs" value="false"/>
      <arg name="ignore_fiducials" value="" />
      <arg name="fiducial_len_override" value="" />
      <arg name="verbose" value="false"/>
    </include>
  </group>  
</launch>
