<launch>
  <!-- Execute the script and set the IP address as an environment variable -->
  <arg name="ip_address" default="$(eval `/home/ammar/ros_ws/bashfiles/get_ip.sh` && echo $ip_address)"/>

  <!-- Pass the IP address as an environment variable -->
  <env name="MY_PC_IP" value="$(arg ip_address)" />

  <!-- Include the main launch file -->
  <include file="cam1_remote.launch" />
</launch>
