<!-- Run the aruco_detect node -->
<launch>
    <!-- Common arguments -->
    <arg name="image" value="image"/>
    <arg name="transport" value="raw"/>
    <!-- <arg name="aruco_marker_size" default="0.077"/>  -->
    <!-- <arg name="fiducial_len" value="$(arg aruco_marker_size)"/> -->
    <arg name="fiducial_len" /> 
    <arg name="dictionary" />
    <arg name="do_pose_estimation" value="true"/>
    <arg name="vis_msgs" value="false"/>
    <arg name="ignore_fiducials" value=""/>
    <arg name="fiducial_len_override" value=""/>
    <arg name="verbose" value="false"/>

    <arg name="launch_nuc" default="camera_1"/>

    <!-- NUC 1 -->
    <group if="$(eval launch_nuc == 'camera_1')">
        <include file="$(find aruco_detect)/launch/final_aruco.launch">
        <arg name="camera" value="/camera_1"/>
        <arg name="fiducial_len" value="$(arg fiducial_len)"/>
        <arg name="dictionary" value="$(arg dictionary)"/>

        </include>
    </group>
    <!-- NUC 2 -->
    <group if="$(eval launch_nuc == 'camera_2')">
        <include file="$(find aruco_detect)/launch/final_aruco.launch">
        <arg name="camera" value="/camera_2"/>
        <arg name="fiducial_len" value="$(arg fiducial_len)"/>
        <arg name="dictionary" value="$(arg dictionary)"/>

        </include>
    </group>
        <!-- NUC 3 -->
    <group if="$(eval launch_nuc == 'camera_3')">
        <include file="$(find aruco_detect)/launch/final_aruco.launch">
        <arg name="camera" value="/camera_3"/>
        <arg name="fiducial_len" value="$(arg fiducial_len)"/>
        <arg name="dictionary" value="$(arg dictionary)"/>

        </include>
    </group>
    <!-- NUC 4 -->
    <group if="$(eval launch_nuc == 'camera_4')">
        <include file="$(find aruco_detect)/launch/final_aruco.launch">
        <arg name="camera" value="/camera_4"/>
        <arg name="fiducial_len" value="$(arg fiducial_len)"/>
        <arg name="dictionary" value="$(arg dictionary)"/>

        </include>
    </group>
            <!-- NUC 5 -->
    <group if="$(eval launch_nuc == 'camera_5')">
        <include file="$(find aruco_detect)/launch/final_aruco.launch">
        <arg name="camera" value="/camera_5"/>
        <arg name="fiducial_len" value="$(arg fiducial_len)"/>
        <arg name="dictionary" value="$(arg dictionary)"/>

        </include>
    </group>
</launch>

