<?xml version="1.0"?>
<launch>
    <!-- Common argument -->
    <arg name="launch_nuc" default="nuc1"/>
    <arg name="aruco_marker_size" default="0.020"/>
    <arg name="image" value="image"/>
    <arg name="transport" value="raw"/>
    <arg name="fiducial_len" value="$(arg aruco_marker_size)"/>
    <arg name="dictionary" value="0"/>
    <arg name="do_pose_estimation" value="true"/>
    <arg name="vis_msgs" value="false"/>
    <arg name="ignore_fiducials" value="" />
    <arg name="fiducial_len_override" value="" />
    <arg name="verbose" value="false"/>

    <!-- NUC1 -->
      <group if="$(eval launch_nuc == 'nuc1')">
        <include file="$(find aruco_detect)/launch/aruco_basic.launch">
            <arg name="nuc_name" value="/nuc1"/>
            <arg name="fiducial_len" default="0.020"/>
            <arg name="dictionary" value="0"/>
            <arg name="nuc_address" value="192.168.1.201" />
            <arg name="nuc_user" value="sitl1" />
            <arg name="nuc_password" value="sitl" />
        </include>
      </group>
      <!-- NUC 2  -->
      <group if="$(eval launch_nuc == 'nuc2')">
        <include file="$(find aruco_detect)/launch/aruco_basic.launch">
            <arg name="nuc_name" value="/nuc2"/>
            <arg name="fiducial_len" default="0.020"/>
            <arg name="dictionary" value="0"/>
            <arg name="nuc_address" value="192.168.1.202"/>
            <arg name="nuc_user" value="sitl2"/>
            <arg name="nuc_password" value="sitl"/>
        </include>
      </group>
      <!-- NUC1 3  -->
      <group if="$(eval launch_nuc == 'nuc3')">
        <include file="$(find aruco_detect)/launch/aruco_basic.launch">
            <arg name="nuc_name" value="/nuc3"/>
            <arg name="fiducial_len" default="0.020"/>
            <arg name="dictionary" value="0"/>
            <arg name="nuc_address" value="192.168.1.203"/>
            <arg name="nuc_user" value="sitl3"/>
            <arg name="nuc_password" value="sitl"/>
        </include>
      </group>
</launch>